<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mindful Mashup</title>
    <link rel="stylesheet" href="/css/style.css">
    
    <nav>
        <a href="/strategies/new">Create New </a> | 
        <a href="/strategies">Home</a>
    </nav>
</head>

<body>
 
    <style>
        body {
    background-image: url("/background/luca-micheli-ruWkmt3nU58-unsplash.jpg");
    /* background-position: center; */
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    color: white;
}
    </style>
    <div class="container">
        <h1>Strategies</h1>



        <ul class="strategies">
            <% for(let i=0; i < strategies.length; i++){ %>
                <li>
                    <a href="/strategies/<%=strategies[i].id%>">
                        <%=strategies[i].title;%>
                    </a>
                    <br>
                  
                </li>
                <% } %>
        </ul>
    </div>

    <%- include('./partials/footer.ejs') %>