<%- include('./partials/header.ejs') %>

 
    <style>
        h1{
            color: black;
        }
        body {
    background-image: url("/background/thomas-rey-Oadvsf3xH9E-unsplash.jpg");
    /* background-position: center; */
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    color: black;
}



    </style>
    <div class="container">
        <h1 class="mindfulTitle">Mindful Mashup</h1>

        <h3 class="introTitle">Welcome to Mindful Mashup! Click the welcome button below to view a list of mental health strategies. Click on each strategy title to see a description.</h3>

        
          <a href="/strategies"> <button class="button1"> Welcome! </button> </a>
    
       

  
    </div>

    <%- include('./partials/footer.ejs') %>